__pycache__/*
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.venv
venv/
env/
.idea/
.vscode/
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.dist-info/
*.egg-info/
build/
dist/
*.egg
*.egg-info/
*.cover
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.coverage.*
.cache/
.pytest_cache/
nosetests.xml
coverage.xml